<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
;

return PhpCsFixer\Config::create()
    ->setCacheFile(__DIR__.'/.php_cs.cache')
    ->setRiskyAllowed(false)
    ->setRules([
        '@PSR2' => true,
        'yoda_style' => false,
        'trailing_comma_in_multiline_array' => false,
        'single_blank_line_before_namespace' => true,
        'no_leading_namespace_whitespace' => true,
        'ordered_imports' => true,
        'no_unused_imports' => true,
        'phpdoc_var_without_name' => false,
        'no_superfluous_phpdoc_tags' => false,
        'single_line_throw' => false
    ])
    ->setFinder($finder)
;
